body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar-custom {
    background-color: rgba(255,255,255,0.6);
}

.navbar-custom .navbar-nav .nav-link {
    color: #1a1a1a;
    padding: 0 25px;
}

/* #hover state */
.navbar-custom .nav-item:hover .nav-link {
    color: #dc2430;
}

/* active state */
.navbar-custom .nav-item.active .nav-link {
    color: #7b4397;
}


.nav-new {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    margin-bottom: 3rem;
    background-color: rgba(255,255,255,0.9);
}

.navbar-light .navbar-brand {
    font-family: "Lato", sans-serif;
    color: #1a1a1a;
}


/* hero */

.hero-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    vertical-align: top;
    max-width: 820px;
}


.hero-text-content {
   display: inline-block;
   padding-right: 0;
}

.image-holder {
    display: inline-block;
    vertical-align: top;
}

.navbar-toggler {
    border: none;
}



.hero {
    margin: auto;
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


h1 {
    font-family: 'Lato', sans-serif;
    font-size: 34px;
    font-weight: bold;
    color: #1a1a1a;
    display: inline;
}

#hero-image {
    width: 185px;
    height: auto;
    margin-bottom: 20px;
}


#hero-intro-about-text {
    font-size: 20px;
    max-width: 70%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    /* font-family: 'Merriweather', serif; */
    font-family: 'Lato', sans-serif;
    font-weight: regular;
    color: #838383;
}

#button-to-about {
    color: #fff;
    background: transparent linear-gradient(95deg, #7b4397 0%, #dc2430 100%) 0% 0% no-repeat padding-box;
    border: none;
    margin: 8px;
    margin-top: 20px;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    border-radius: 5px;
    padding: 10px 32px;
    box-shadow: 0px 0px 20px rgba(228, 55, 98, 0.5);
    transition: box-shadow 0.3s ease-in-out;
    position: relative;

}

#button-to-about:hover {
    color:white;
    /* background: transparent linear-gradient(95deg, #FFA7FF 0%, #E949F5 100%) 0% 0% no-repeat padding-box; */
    box-shadow: 0px 0px 30px rgba(228, 55, 98, 0.7);
}


/* featured */

.featured {
    background: #EFEFEF 0% 0% no-repeat padding-box;
    width: 100%;
    margin-top: 80px;
    padding-bottom: 30px;
    box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.3), inset 0 -4px 9px -6px rgba(0,0,0,0.3);

}

 #featured-section-title {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

#featured-section-title h2 {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
} 


#zipline-photo {
    width: 536px;
    height: 440px;
    border-radius: 12px;
}


.flex-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    max-width: 100%;
    background: #EFEFEF 0% 0% no-repeat padding-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-element {
    display: flex;
    width: 750px;
    height: 100%;
    background-color: white;
    margin: 30px;
    border-radius: 12px;
    justify-content: center;
    box-shadow: 0px 0px 40px #0000002C;
    transition: box-shadow 0.3s ease-in-out;
}

.card-element.col-sm-12 {
    padding: 0;
}

.card-element:hover {
    box-shadow: 0px 0px 40px #00000060;
}

.card-image-holder img {
    position: relative;
    max-width: 230px;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    left: 0;
}

.card-image-holder {
    height: 100%;
}

.card-element-text-content {
    display: inline-block;
    margin-left: 65px;
    margin-top: 36px;
    margin-right: 37px;
}

.card-element-text-genre {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: regular;
}

.card-element-text-title {
    font-family: 'Lato', sans-serif;
    font-size: 27px;
    font-weight: bold;
}



/* contact form section */
#contact-section {
    background: white;
}

#contact-section h2{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-align: center;
    color: #1a1a1a;
}

#contact-header {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 30px;
}


#my-email-address {
    text-align: center;
    color: #1a1a1a;
    text-decoration: underline;
}

#my-email-address a{
    color: #1a1a1a;
}

#my-email-address a:hover{
    color: #dc2430;
}

.social-media-icons {
    display: flex;
    margin-bottom: 17px;
    justify-content: center;
    font-size: 27px;
    margin: 17px;
}

.fa {
    color: black;
    font-size: 27px;
    margin: 17px;
}

.twitter-icon .fa:hover{
    color: #00aced;
}

.linkedin-icon .fa:hover {
    color: #007bb6;
}

.instagram-icon .fa:hover {
    color: #8a3ab9;
}


/* .form {
    position: relative;
    text-align: center;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.first-row-contact-form {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.second-row-contact-form {
    display: flex;
} */

/* @media (max-width: 750px){
    .first-row-contact-form {
        display: block;
        justify-content: space-between;
        margin: 0;
    }
    .second-row-contact-form {
        display: block;
    }
} */

/* input {
    width: 100%;
    margin: 20px;
    background: rgba(0,0,0,0);
    border: none;
    border-bottom: 1px solid #1a1a1a;
    font-family: 'Lato', sans-serif;
    padding-bottom: 5px;
}

input:focus {
    border-bottom: 2px solid #7b4397;
    outline: none;
}

input:focus::-webkit-input-placeholder {
    color: #7b4397;
}

#msg {
    margin-top: 60px;
}

#send-message {
    color: #fff;
    background: transparent linear-gradient(95deg, #7b4397 0%, #dc2430 100%) 0% 0% no-repeat padding-box;
    border: none;
    margin-top: 30px;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    border-radius: 5px;
    padding: 10px 32px;
    box-shadow: 0px 0px 20px rgba(228, 55, 98, 0.5);
    transition: box-shadow 0.3s ease-in-out;
    position: relative;
}

#send-message:hover {
    color:white;
    /* background: transparent linear-gradient(95deg, #FFA7FF 0%, #E949F5 100%) 0% 0% no-repeat padding-box; */
    /* box-shadow: 0px 0px 30px rgba(228, 55, 98, 0.7);
}

::-webkit-input-placeholder {
    color: #1a1a1a;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
} */





/* footer */

footer {
    margin-top: 20px;
    padding: 30px;
    font-size: 14px;
    text-align: center;
    background: #EFEFEF 0% 0% no-repeat padding-box;
}



#heart-icon {
    color: #dc2430;
}



/* tablet */
@media (max-width: 768px) {
    .featured {
        background: #EFEFEF 0% 0% no-repeat padding-box;
        width: 100%;
        margin-top: 150px;
        padding-bottom: 30px;
        box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.3), inset 0 -4px 9px -6px rgba(0,0,0,0.3);
    }

        
    .card-element {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 50%;
        background-color: white;
        margin: 30px;
        border-radius: 12px;
        justify-content: center;
        box-shadow: 0px 0px 40px #0000002C;
        transition: box-shadow 0.3s ease-in-out;
    }
    
    .card-element.col-sm-12 {
        padding: 0;
    }
    
    .card-element:hover {
        box-shadow: 0px 0px 40px #00000060;
    }
    
    .card-image-holder img {
        position: relative;
        max-width: 100%;
        max-height: 100%;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 0;
        top: 0;
    }

    .card-image-holder {
        max-width: 100%;
        max-height:100%;
    }
    
    .card-element-text-content {
        display: inline-block;
        margin-left: 10%;
        margin-top: 10%;
        margin-right: 10%;
        margin-bottom: 10%;
    }
    
    .card-element-text-genre {
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        font-weight: regular;
    }
    
    .card-element-text-title {
        font-family: 'Lato', sans-serif;
        font-size: 20px;
        font-weight: bold;
    }

    /* .form {
        max-width: 80%;
    } */

    /* TABLET footer */

}

/* phone */
@media (max-width: 440px) {
    body {
        overflow-x: hidden;
    }
    
    .featured {
        background: #EFEFEF 0% 0% no-repeat padding-box;
        width: 100%;
        margin-top: 150px;
        padding-bottom: 30px;
        box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.3), inset 0 -4px 9px -6px rgba(0,0,0,0.3);
    }


    .card-element {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 80%;
        background-color: white;
        margin: 20px;
        border-radius: 12px;
        justify-content: center;
        box-shadow: 0px 0px 40px #0000002C;
        transition: box-shadow 0.3s ease-in-out;
    }
    
    .card-element.col-sm-12 {
        padding: 0;
    }
    
    
    .card-image-holder img {
        position: relative;
        max-width: 100%;
        max-height: 100%;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 0;
        top: 0;
        object-fit: fill;
    }

    .card-image-holder {
        position: relative;
        width: 100%;
        height: 20%;
        object-fit: fill;
    }
    
    .card-element-text-content {
        display: inline-block;
        margin-left: 10%;
        margin-top: 10%;
        margin-right: 10%;
    }
    
    .card-element-text-genre {
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        font-weight: regular;
    }
    
    .card-element-text-title {
        font-family: 'Lato', sans-serif;
        font-size: 20px;
        font-weight: bold;
    }


    .form {
        max-width: 80%;
    }
    /* PHONE footer */
    footer {
        margin-top: 20px;
        padding-bottom: 20px;
        font-size: 14px;
        text-align: center;
    }

    .footer-text {
        /* max-width: 80%; */
        text-align: center;
        margin: 0 auto;
    }


}